### Execute Python Syntax

In [1]:
print("Hello, World!")

Hello, World!


### Python Indentation

Indentation refers to the spaces at the beginning of a code line.

Where in other programming languages the indentation in code is for readability only, the indentation in Python is very important.

Python uses indentation to indicate a block of code.

In [2]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

In [3]:
if 5 > 2:
print("Five is greater than two!")

IndentationError: expected an indented block (<ipython-input-3-a314491c53bb>, line 2)

In [4]:
if 5 > 2:
 print("Five is greater than two!") 
if 5 > 2:
        print("Five is greater than two!")

Five is greater than two!
Five is greater than two!


### Python Variables
In Python, variables are created when you assign a value to it:

In [5]:
x = 5
y = "Hello, World!"


### Comments
Python has commenting capability for the purpose of in-code documentation.

Comments start with a #, and Python will render the rest of the line as a comment:

In [6]:
#This is a comment.
print("Hello, World!")

Hello, World!


### Multi Line Comments
Since Python will ignore string literals that are not assigned to a variable, you can add a multiline string (triple quotes) in your code, and place your comment inside it:

In [7]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!


### Casting
If you want to specify the data type of a variable, this can be done with casting.

In [9]:
# Example
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

print(x,y,z)

3 3 3.0


### Get the Type
You can get the data type of a variable with the type() function.

In [10]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>


### Many Values to Multiple Variables
Python allows you to assign values to multiple variables in one line:

In [11]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry


### One Value to Multiple Variables
And you can assign the same value to multiple variables in one line:

In [13]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange


### Global Variables
Variables that are created outside of a function (as in all of the examples above) are known as global variables.

Global variables can be used by everyone, both inside of functions and outside.

In [15]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [16]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [17]:
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic
Python is fantastic


### Built-in Data Types
In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

Text Type:	str

Numeric Types:	int, float, complex

Sequence Types:	list, tuple, range

Mapping Type:	dict

Set Types:	set, frozenset

Boolean Type:	bool

Binary Types:	bytes, bytearray, memoryview


### Python Numbers
There are three numeric types in Python:

- int 
- float 
- complex \
Variables of numeric types are created when you assign a value to them

In [23]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

In [20]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

### Type Conversion
You can convert from one type to another with the int(), float(), and complex() methods:

In [24]:
#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>


### Slicing
You can return a range of characters by using the slice syntax.

Specify the start index and the end index, separated by a colon, to return a part of the string.

In [25]:
b = "Hello, World!"
print(b[2:5])

llo

In [27]:
# Slice From the Start

b = "Hello, World!"
print(b[:5])

Hello

In [28]:
# Slice To the End

b = "Hello, World!"
print(b[2:])

llo, World!


## Python - Modify Strings

In [29]:
# Upper Case

a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [30]:
# Lower Case

a = "Hello, World!"
print(a.lower())

hello, world!

In [31]:
# Remove Whitespace
# Whitespace is the space before and/or after the actual 
#text, and very often you want to remove this space.

a = " Hello, World! "
print(a.strip())

Hello, World!

In [32]:
# Replace String

a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [33]:
# Split String

a = "Hello, World!"
print(a.split(","))

['Hello', ' World!']


### String Concatenation
To concatenate, or combine, two strings you can use the + operator.

In [35]:
a = "Hello"
b = "World"
c = a + b
print(c)

c = a + " " + b
print(c)

HelloWorld
Hello World


### String Format
As we learned in the Python Variables chapter, we cannot combine strings and numbers like this:

In [36]:
age = 36
txt = "My name is John, I am " + age
print(txt)

TypeError: must be str, not int

In [38]:
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

In [39]:
txt = "My name is John, I am {}".format(age)
print(txt)

My name is John, I am 36

In [40]:
txt = "My name is John, I am {ages_values}".format(ages_values=age)
print(txt)

My name is John, I am 36

In [42]:
txt = "We are the so-called \"Vikings\" from the north."
txt

'We are the so-called "Vikings" from the north.'


## Python Booleans

Booleans represent one of two values: True or False.

You can evaluate any expression in Python, and get one of two answers, True or False.

When you compare two values, the expression is evaluated and Python returns the Boolean answer:

In [43]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [44]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [45]:
print(bool("Hello"))
print(bool(15))

True
True